body {
    font-size: 16px;
    border: 1px solid red;
    margin-left: 3%;
    margin-right: 3%;
}

h1 {
    position: relative;
    top: 4rem;
    font-family: 'Sansita Swashed', cursive;
    ;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    ;
}

img {
    backface-visibility: hidden;
}

nav {
    display: inline-flex;
    border: 1px solid red;
    width: 100%;
    justify-content: flex-end;
}

body hr {
    background-color: red;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

nav ul li {
    font-size: 1.2rem;
    margin-right: 1rem;
}

#skills img {
    display: inline-block;
    height: auto;
    width: 3%;
    margin-left: 2rem;
}