body {
    background-color: #a8dadc;
    font-size: 16px;
}

aside {
    position: absolute;
    width: 30%;
    height: auto;
    left: 55%;
    bottom: 38%;
    margin-left: 1rem;
}



.background-header .background-header-container #lake {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 500px;
}

.nav-bar {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: flex-end;
}

.nav-bar .nav-bar-list ul {
    display: inline-flex
}

.nav-bar .nav-bar-list ul li {
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    margin-top: 4rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    color: #07101B;
    font-weight: 600;
}

.header .name h1 {
    position: absolute;
    top: 5%;
    left: 22%;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5rem;
    color: #07101B;
}

.about-me .about-me-container {
    display: flex;
    width: 30%;
    flex: 2;
    height: auto;
    margin-top: 7%;
    margin-left: 20%;
    padding: 2%;
    background-color: #e8e8e4;
    color: #07101B;
    border: 4px solid #141414;
    border-radius: 5%;
    opacity: inherit;
    box-shadow: 1rem;
}

.about-me-container #main-content-title {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.about-me-container p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.profile-img .image-container {
    display: flex;
    width: 50%;
    height: 390px;
    margin-top: 2.8rem;
    margin-left: 25%;
    background-image: url('../images/brennan2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid #909DA2;
    align-items: flex-end;
    justify-content: center;
    border-radius: 8%;
}

.image-container #figcaption figcaption {
    background-color: #909DA2;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 1rem;
}

.current-skills .skills-container {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: #e8e8e4;
    color: #050303;
    border: 4px solid #141414;
    border-radius: 5%;
    opacity: 2;
    box-shadow: 1rem;
}

.current-skills .skills-container a {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 2rem;
}

.current-skills .skills-container #github {
    background-color: #050303;
}

.current-skills .skills-container img {
    display: block;
    max-width: 100%;
    height: 3rem;
}

.current-projects .projects-container {
    border: 1px solid black;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 36%;
    height: 200px;
    margin-top: 1.4rem;
    margin-left: 1rem;
    justify-content: flex-start;
    padding: 2%;
    background-color: #e8e8e4;
    color: #050303;
    border: 4px solid #141414;
    border-radius: 5%;
    opacity: 2;
    box-shadow: 1rem;
}

.current-projects .projects-container h3 {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.current-projects .projects-container ul {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
}

.projects-container a {
    font-weight: 500;
}

.projects-container a:hover {
    margin-left: 10px;
    margin-bottom: 4px;
    color: #d62828;
}

footer {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 10%;
    background-color: #e8e8e4;
    color: #050303;
    border: 4px solid #141414;
    border-radius: 5%;
    box-shadow: 1rem;
    justify-content: space-evenly;
}

.social-media {
    width: 30%;
    height: auto;
}

.social-media-container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-start;

}

.social-media-container a {
    display: flex;
    width: 16%;
    height: 50px;
}

.social-media-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-left: 1.5rem;
}



.social-media h4 {
    position: relative;
    margin-top: 1.3rem;
    margin-left: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-family: 'Sansita Swashed', cursive;
}

.email-address h4 {
    position: relative;
    margin-top: 1.3rem;
    margin-left: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-family: 'Sansita Swashed', cursive;
}

.email-address {
    margin-left: 3rem;
}

address a {
    font-weight: 500;

}

.email-address address {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 2.5rem;
    text-align: center;

}

address a:hover {
    margin-left: 10px;
    margin-bottom: 4px;
    color: #d62828;
}

@media only screen and (max-width: 425px) {
    .header .name{
        display: inline-flex;
        position: relative;
        align-self: center;
        left: 0%;
        margin-bottom: 40%;
        margin-left: 20%;
    }
    h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    h4{
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    body{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    main{
        position: relative;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .about-me{
        display: inline-flex;
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: scroll;
    }
    .about-me .about-me-container{
        background-color: transparent;
        border: none;
        margin: auto;
        text-align: left;
    }
    figcaption{
        display: none;
    }
    .profile-img .image-container {
        position: relative;
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    aside{
        display: flex;
        position: relative;
        left: 0%;
        align-self: center;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 10%;
        margin-left: 0%;
    }
    .skills .current-skills{
        position: relative;
        width: 100%;
    }
    .skills .skills-container{
        background-color: transparent;
        border: none;
    }
    .current-projects .projects-container{
        display: flex;
        background-color: transparent;
        border: none;
        width: 100%;
        height: auto;
        text-align: start;
    }
    .current-projects .projects-container ul{
        text-align: start;
    }
    .current-projects .projects-container h3{
        text-align: start;
    }
    nav{
        display: none;
    }
    footer{
        display: flex;
        background-color: transparent;
        border: none;
        flex-direction: column;
    }
    .social-media{
        width: 100%;
        height: auto;
    }
    .social-media .social-media-container{
        display: flex;
        align-items: flex-start;
        margin-bottom: 10%;
        width: 100%;
        height: auto;
    }
    .social-media .social-media-container a{
        width: fit-content;
        height: 5rem;
    }
    .email-address{
        text-align: start;
        margin-left: 0%;
        padding-bottom: 20%;
    }
    address{
        font-size: small;
    }

}
@media only screen and (max-width: 768px){

}