body{
    font-size: 16px;
    border: 1px solid red;
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    position: relative;
    top: 4rem;
    font-family: 'Sansita Swashed', cursive;;
}
h2{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;;
}
nav{
    display: inline-flex;
    border: 1px solid red;
    width: 100%;
    justify-content: flex-end;
}
nav ul{
    display: inline-flex;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    font-weight:600 ;
}
nav ul li{
    font-size: 1.2rem;
    margin-right: 1rem;
}